:root{
    --text-color: black;
    --background: green;
}

button{
    color: var(--text-color)
    
}

.box{
    width: 100px;
    height: 100px;
    color: aliceblue;
    display: flex;
    align-items:center;
    justify-content: center;
    float: left;
}
.box1{
    background-color: black;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* Viet tat */
.box2{
    background-color: orange;
    padding: 12px;
    border-bottom: 10px solid rebeccapurple;
}

.box3{
    background-color: firebrick;
    border-top-width: 10px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: #333;
}
.box4{
    background-color: violet;
    padding: 16px;
    border: 2px solid #333;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

label{
    font-size: 1rem;
}